<mat-card>
    <mat-card-content>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="vertical-form">
        <mat-form-field class="full-width-input">
          <mat-label>Email</mat-label>
          <input matInput type="text" formControlName="email" required>
          <mat-error *ngIf="registerForm.controls['email'].invalid">Email is required</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <mat-label>Username</mat-label>
          <input matInput type="text" formControlName="username" required>
          <mat-error *ngIf="registerForm.controls['username'].invalid">Username is required</mat-error>
        </mat-form-field>
  
        <mat-form-field class="full-width-input">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" required>
          <mat-error *ngIf="registerForm.controls['password'].invalid">Password is required</mat-error>
        </mat-form-field>
  
        <mat-form-field class="full-width-input">
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password" formControlName="passwordConfirm" required>
          <mat-error *ngIf="registerForm.controls['passwordConfirm'].invalid">Password confirmation is required</mat-error>
        </mat-form-field>
  
        <button mat-raised-button color="primary" type="submit">Register</button>
      </form>
    </mat-card-content>
  </mat-card>
  